*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover ;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo {
    width: 100px;
    height: auto;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin:right;
    transform:scaleX(0);
    transition:transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
    
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background:transparent;
    border: 2px solid #fafafa;
    outline: none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 1.2em;
    color:#fff;
    font-weight:500;
    margin-left: 20px;
    transition: .5s;

}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: black;
}
.loginbox{
    position: relative;
    width: 400px;
    height: 440px;
    border:2px solid rgb(255,255,255,.5);
    background-color: transparent;
    backdrop-filter:blur(5px);
    justify-content: center;
    align-items: center;
}